[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
opencv-python-headless = "*"
tflite-runtime = "==2.14.0"

[requires]
python_version = "3.9"
